<h2>
    <div class="text-center">
        Activity
        <div class="badge badge-info">
            <%= @activities.count %>
        </div>
    </div>
</h2>
<ul class="list-group">
    <% @activities.each do |activity| %>
        <li class="list-group-item">
            <%= activity.id %>
            <%= activity.trackable_type %>
            <%= activity.trackable_id %>
            <% if activity.trackable_type == "Lesson" %>
                <%= link_to activity.trackable, course_lesson_path(activity.trackable.course, activity.trackable) %>
            <% else %>
                <%= link_to activity.trackable, activity.trackable %>
            <% end %>
            <%= activity.key %>
            <%= activity.parameters %>
            <%= activity.owner %>
        </li>
    <% end %>
</ul>