<h3>Users Created</h3>
<%# <%= line_chart @users.group_by_day(:created_at).count %> 
<%= line_chart charts_users_per_day_path %>

<h3>Enrollments Created</h3>
<%# <%= line_chart @enrollments.group_by_day(:created_at).count %>
<%= line_chart charts_enrollments_per_day_path %>

<h3>Course Popularity</h3>
<%# <%= pie_chart @courses.group(:enrollments_count).count %>
<%# <%= bar_chart @enrollments.joins(:course).group(:'courses.title').count %>
<%= bar_chart charts_course_popularity_path %>

<h3>Money Makers</h3>
<%= bar_chart charts_money_makers_path %>

