<% content_for :title do %>
    Boolearn |
    Online course: Where you learn with love.
<% end %>
<div class="jumbotron">
	<div class="display-4">
		What do you want to learn today?
  	</div>
  	<div class="p-4"></div>
  	<% if current_user %>
    	<%= search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f| %>
      		<div class="input-group">
        		<%= f.search_field :title_cont, class: 'form-control-sm', style: 'float: left; width: 150px;'  %>
        		<span class="input-group-append">
          			<button class="btn btn-primary btn-sm" type = "submit">
            			<span><i class="fa fa-search" aria-hidden="true"></i></span>
          			</button>
        		</span>
      		</div>
    	<% end %>
  	<% end %>
</div>

<div class="card-group">
	<div class="card card-body">
    	<h1>
      		<div class="fa fa-graduation-cap"></div>
    	</h1>
    	<%= Course.count %>
    	online courses
    	<div class="row"></div>
    	Explore a variety of fresh topics
  	</div>
  	<div class="card card-body">
    	<h1>
      		<div class="fa fa-chalkboard-teacher"></div>
    	</h1>
    	<%= Course.distinct.count(:user_id) %>
    	expert instructors
    	<div class="row"></div>
    	Find the right instructor for you
  	</div>
  	<div class="card card-body">
    	<h1>
      		<div class="fa fa-graduate"></div>
    	</h1>
    	<%= Course.count %>
    	active learners
    	<div class="row"></div>
    	Join the knowledge sharing community
  	</div>
  	<div class="card card-body">
   		<h1>
      		<div class="fa fa-infinity"></div>
    	</h1>
    	lifetime access
    	<div class="row"></div>
    	Learn on your schedule
  	</div>
</div>
<hr/>

<h3>Continue learning.... <i class="fas fa-school"></i></h3>
<div class="card-columns">
	<% @purchased_courses.each do |course| %>
    	<%= render 'courses/course', course: course %>
  	<% end %>
</div>
<div class="text-right">
	<%= link_to 'All purchased courses', purchased_courses_path %>
</div>
<hr/>
<h3>Popular Courses <i class="fas fa-chart-line"></i></h3>
<div class="card-columns">
  	<% @popular_courses.each do |course| %>
    	<%= render 'courses/course', course: course %>
  	<% end %>
</div>
<div class="text-right">
  	<%= link_to 'More popular courses', courses_path(courses_search: {s: 'enrollments_count desc'}) %>
</div>
<hr/>
<h3>Top Rated Courses <i class="fas fa-star"></i></h3>
<div class="card-columns">
	<% @top_rated_courses.each do |course| %>
    	<%= render 'courses/course', course: course %>
  	<% end %>
</div>
<div class="text-right">
  	<%= link_to 'Best rated courses', courses_path(courses_search: {s: 'average_rating desc'}) %>
</div>
<hr>
<h3>Latest Courses <i class="fas fa-clock"></i></h3>
<div class="card-columns">
	<% @latest_courses.each do |course| %>
    	<%= render 'courses/course', course: course %>
  	<% end %>
</div>
<div class="text-right">
  	<%= link_to 'More latest courses', courses_path(courses_search: {s: 'created_at desc'}) %>
</div>
<hr>
<h3>What learners are saying <i class="fas fa-comment"></i></h3>
<div class="card-columns">
  	<% @enrollments.each do |enrollment| %>
    	<%= render 'enrollments/enrollment', enrollment: enrollment %>
  	<% end %>
</div>


  


