<div class="jumbotron">
  <div class="display-4">
    What do you want to learn today?
  </div>
  <div class="p-4"></div>
    <form class="d-flex">
      <div class="form-inline my-2 my-lg-0">
        <%= form_tag(courses_path, method: :get) do %>
          <div class="input-group">
            <%= text_field_tag :title, params[:title], autocomplete: 'off', placeholder: 'search', class: 'form-control' %>
            <span class="input-group-append">
              <button class="btn btn-primary.btn-sm" type= "submit">
                <span><i class="fa fa-search" aria-hidden="true"></i></span>
              </button>
            </span>
          </div>
        <% end %>
      </div>
    </form>
</div>

<div class="card-group">
  <div class="card card-body">
    <h1>
      <div class="fa fa-graduation-cap"></div>
    </h1>
    <%= Course.count %>
    online courses
    <div class="row"></div>
    Explore a variety of fresh topics
  </div>
  <div class="card card-body">
    <h1>
      <div class="fa fa-chalkboard-teacher"></div>
    </h1>
    <%= Course.distinct.count(:user_id) %>
    expert instructors
    <div class="row"></div>
    Find the right instructor for you
  </div>
  <div class="card card-body">
    <h1>
      <div class="fa fa-graduate"></div>
    </h1>
    <%= Course.count %>
    active learners
    <div class="row"></div>
    Join the knowledge sharing community
  </div>
  <div class="card card-body">
    <h1>
      <div class="fa fa-infinity"></div>
    </h1>
    lifetime access
    <div class="row"></div>
    Learn on your schedule
  </div>
</div>

<hr/>
<h3>Popular Courses</h3>
<div class="card-columns">
  <% @courses.each do |course| %>
    <%= render 'courses/course', course: course %>
  <% end %>
</div>
<hr/>
<h3>Top Rated Courses</h3>
<div class="card-columns">
  <% @courses.each do |course| %>
    <%= render 'courses/course', course: course %>
  <% end %>
</div>
<hr>
<h3>Latest Courses</h3>
<div class="card-columns">
  <% @latest_courses.each do |course| %>
    <%= render 'courses/course', course: course %>
  <% end %>
</div>


  


