<div class="jumbotron">
  <div class="display-4">
    What do you want to learn today?
  </div>
  <div class="p-4"></div>
    <form class="d-flex">
      <div class="form-inline my-2 my-lg-0">
        <%= form_tag(courses_path, method: :get) do %>
          <div class="input-group">
            <%= text_field_tag :title, params[:title], autocomplete: 'off', placeholder: 'search', class: 'form-control' %>
            <span class="input-group-append">
              <button class="btn btn-primary.btn-sm" type= "submit">
                <span><i class="fa fa-search" aria-hidden="true"></i></span>
              </button>
            </span>
          </div>
        <% end %>
      </div>
    </form>
</div>
 <h3>Popular Courses</h3>
<br/>
<div class="card-columns">
  <% @courses.each do |course| %>
    <%= render 'courses/course', course: course %>
  <% end %>
<div>
<br>


  
<%= link_to "Privacy policy", static_pages_privacy_policy_path %>
<%= link_to courses_path, class: "btn btn-success" do %>
  <i class="fas fa-books"></i>
  Courses
<% end %>

