<% content_for :title do %>
    Boolearn
    |
    All users
<% end %>

<h2>
    <div class="text-center">
        Users
        <div class="badge badge-info">
            <%= @users.count %>
        </div>
    </div>
</h2>
<%# <div class="card-columns"> %>
    <%# <% @users.each do |user| %> 
        <%# <%= render 'users/user', user: user %>
    <%# <% end %> 
<%# </div> %>

<div class="form-inline">
    <%= search_form_for @q do |f| %>
        <%= f.search_field :email_cont %>
        <%= f.search_field :sign_in_count_eq, placeholder: "Search by sign-in" %>
        <%= f.submit %>
    <% end %>
</div>
<%= link_to "Refresh", users_path, class: 'btn btn-sm btn-success' %>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th><%= sort_link(@q, :email) %></th>
            <th>created_at</th>
            <th><%= "sign_in_count".humanize %></th>
            <th><%= "current_sign_in_at".humanize %></th>
            <th><%= "last_sign_in_at".humanize %></th>
            <th><%= "current_sign_in_ip".humanize %></th>
            <th><%= "last_sign_in_ip".humanize %></th>
            <th><%= "courses_count".humanize %></th>
            <th><%= "enrollments_count".humanize %></th>
            <th><%= "user_lessons_count".humanize %></th>
            <th> Confirmed? </th>
            <th> Roles </th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.id %></td>
                <td>
                    <% if user.online? %>
                        <i class="fa fa-circle text-success" aria-hidden="true"></i>
                    <% else %>
                        <i class="fa fa-circle text-danger" aria-hidden="true"></i>
                    <% end %>
                    <%= link_to user.email, user_path(user) %>
                </td>
                <td><%= user.created_at %></td>
                <td><%= user.sign_in_count %></td>
                <td><%= user.current_sign_in_at %></td>
                <td><%= user.last_sign_in_at %></td>
                <td><%= user.current_sign_in_ip %></td>
                <td><%= user.last_sign_in_ip %></td>
                <td><%= user.courses_count %></td>
                <td><%= user.enrollments_count %></td>
                <td><%= user.user_lessons_count %></td>
                <td><%= user.confirmed? %>
                <td>
                    <%  user.roles.each do |role| %>
                        <div class="badge badge-info">
                            <%= role.name %>
                        </div>
                    <% end %>
                    <% if policy(user).edit? %>
                        <%= link_to 'Edit', edit_user_path(user), class: "btn btn-sm btn-warning" %>
                    <%  end %>
                </td>
            </tr>
        <% end %>
    </tbody>
    <%== pagy_bootstrap_nav(@pagy) %>
</table>
