<div class="card">
    <div class="card-header">
        <i class="fa fa-user" aria-hidden="true"></i>
        <%= link_to enrollment.user.username, user_path(enrollment.user) %>
        <i class="fa fa-clock" aria-hidden="true"></i>
        <%= time_ago_in_words(enrollment.updated_at) %>
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        <%= link_to enrollment.course, course_path(enrollment.course) %>
    </div>
    <div class="card-body">
        <i class="fa fa-star text-warning" aria-hidden="true"></i>
        <b><%= enrollment.rating %></b>
        <i class="fa fa-comment" aria-hidden="true"></i>
        <small><%= enrollment.review %></small>
    </div>
    <% if current_user %>
        <div class="card-footer">
            <% if policy(enrollment).edit? %>
                <%= link_to "Edit Review", edit_enrollment_path(enrollment) %>
            <% end %>
        </div>
    <% end %>
</div>