<p id="notice"><%= notice %></p>

<h2>
    <div class="text-center">
        Enrollment
        <div class="badge badge-info">
            <%= @enrollments.count %>
        </div>
    </div>
</h2>
<div class="table-responsive">
  <table class="table table-bordered table-stripped table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
          Course
        </th>
        <th>
          <i class="fa fa-clock" aria-hidden="true"></i>
          Bought_at
        </th>
        <th>
          <i class="fa fa-user" aria-hidden="true"></i>
          User
        </th>
        <th>
          <i class="fas fa-dollar-sign"></i>
          Price
        </th>
        <th>
          <i class="fa fa-clock text-warning" aria-hidden="true"></i>
          Reviewed_at
        </th>
        <th>
          <i class="fa fa-star text-warning" aria-hidden="true"></i>
          Rating
        </th>
        <th>
          <i class="fa fa-comment" aria-hidden="true"></i>
          Review
        </th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @enrollments.each do |enrollment| %>
        <tr>
          <td><%= enrollment.id %></td>
          <td><%= link_to enrollment.course, course_path(enrollment.course) %></td>
          <td><%= enrollment.created_at.strftime("%d/%b/%y- %H:%M") %></td>
          <td><%= link_to enrollment.user, user_path(enrollment.user) %></td>
          <td><%= number_to_currency(enrollment.price) %></td>
          <td>
            <% if enrollment.rating.present? %>
              <%= enrollment.updated_at.strftime("%d/%b/%y- %H:%M") %>
            <% end %>
          </td>
          <td><%= enrollment.rating %></td>
          <td><%= enrollment.review %></td>
          <td><%= link_to 'See Review', enrollment %></td>
          <td><%= link_to 'Add Review', edit_enrollment_path(enrollment) %></td>
          <td><%= link_to 'Destroy', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Enrollment', new_enrollment_path %>
