<p id="notice"><%= notice %></p>

<h2>
    <div class="text-center">
        Enrollment
        <div class="badge badge-info">
            <%= @enrollments.count %>
        </div>
    </div>
</h2>
<%= search_form_for @q do |f| %>
  <%= f.search_field :review_or_course_title_or_user_email_or_rating_or_price_eq, placeholder: "Search by anything" %>
  <%# <%= f.search_field :rating_eq, placeholder: "Search by Rating" %>
  <%= f.submit %>
<% end %>
<%= link_to "Refresh", enrollments_path %>
<div class="table-responsive">
  <table class="table table-bordered table-stripped table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
          <%= sort_link(@q, :course_title) %>
        </th>
        <th>
          <i class="fa fa-clock" aria-hidden="true"></i>
          <%= sort_link(@q, :created_at) %>
        </th>
        <th>
          <i class="fa fa-user" aria-hidden="true"></i>
          <%= sort_link(@q, :user_email) %>
        </th>
        <th>
          <i class="fas fa-dollar-sign"></i>
          <%= sort_link(@q, :price) %>
        </th>
        <th>
          <i class="fa fa-clock text-warning" aria-hidden="true"></i>
          <%= sort_link(@q, :updated_at) %>
        </th>
        <th>
          <i class="fa fa-star text-warning" aria-hidden="true"></i>
          <%= sort_link(@q, :rating) %>
        </th>
        <th>
          <i class="fa fa-comment" aria-hidden="true"></i>
          Review
        </th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @enrollments.each do |enrollment| %>
        <tr>
          <td><%= enrollment.id %></td>
          <td><%= link_to enrollment.course, course_path(enrollment.course) %></td>
          <td><%= enrollment.created_at.strftime("%d/%b/%y- %H:%M") %></td>
          <td><%= link_to enrollment.user, user_path(enrollment.user) %></td>
          <td><%= number_to_currency(enrollment.price) %></td>
          <td>
            <% if enrollment.rating.present? %>
              <%= enrollment.updated_at.strftime("%d/%b/%y- %H:%M") %>
            <% end %>
          </td>
          <td><%= enrollment.rating %></td>
          <td><%= enrollment.review %></td>
          <td><%= link_to 'See Review', enrollment %></td>
          <td><%= link_to 'Add Review', edit_enrollment_path(enrollment) %></td>
          <td><%= link_to 'Destroy', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<%== pagy_bootstrap_nav(@pagy) %>

<%= link_to 'New Enrollment', new_enrollment_path %>
