<% content_for :title do %>
    Boolearn |
    New Enrollment
<% end %>
<div class="card">
    <div class="card-header">
        <i class="fa fa-lock-open" aria-hidden="true"></i>
        <h1>New Enrollment</h1>
        <%= link_to @course.title, course_path(@course) %>
    </div>
    <div class="card-body">
        <%# <%= render 'form', enrollment: @enrollment %>
        <% if @course.price > 0 %>
            <%= form_tag enrollments_path(@course) do %>
                <script class="stripe-button" data-amount="<%= (@course.price * 100).to_i %>" 
                                            data-description="<%= @course.title %> (<%= number_to_currency @course.price %>)" 
                                            data-email="<%= current_user.email %>" 
                                            data-key="pk_test_51LJR6kIyIR9an9n2J5llYYugDAMH7H80xP0RZ44ahFf3QjUwEbYL0mqLe1KrLWLa8NCtdS431yNgkuoTeBHGnbh700semw1qqc" 
                                            data-locale="auto" 
                                            src="https://checkout.stripe.com/checkout.js"></script>
            <% end %>
        <% else %>
            <%=  form_tag enrollments_path(@course) do %>
                <%= submit_tag "Zero Payment", class: "btn btn-lg btn-success" %>
            <% end %>
        <% end %>
    </div>
    <div class="card-footer">
        <%= link_to 'Back', course_path(@course) %>
    </div>
