<div class="card">
    <div class="card-header">
        <% if lesson.viewed(current_user) == true %>
            <i class="fa fa-check-square text-success"></i>
        <% else %>
            <i class="fa fa-check-square"></i>
        <% end %>
        <%= link_to lesson.title, course_lesson_path(lesson) %>
    </div>
    <% if policy(lesson).show? %>
        <div class="card-body">
            <%#= image_tag @lesson.video_thumbnail %>
            <% if @lesson.video.attached? %>
                <% if @lesson.video_thumbnail.attached? %>
                    <video controls="true" poster="#{url_for @lesson.video_thumbnail}" width="100%" preload="metadata" controlslist="nodownload">
                        <source src="<%= rails_blob_url(@lesson.video) %>" type="<%= @lesson.video.content_type %>">
                    </video>
                <% else %>
                    <video controls width="100%" preload="metadata" controlslist="nodownload">
                        <source src="<%= rails_blob_url(@lesson.video) %>" type="<%= @lesson.video.content_type %>">
                    </video>
                <% end %>
                <% if policy(lesson).edit? %>
                    <%= link_to "Remove Video", delete_video_course_lesson_path(@course, @lesson), method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
            <%= lesson.content %>
        </div>
    <% end %>
    <% if policy(lesson).edit? %>
        <div class="card-footer">
            <%= link_to 'Edit', edit_course_lesson_path(lesson), class: "btn btn-sm btn-warning" %>
            <%= link_to 'Destroy', [@course,lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
        </div>
    <% end %>
    <div class="card-footer">
        <% unless lesson.prev.nil? %>
            <%= link_to "Previous", course_lesson_path(@course, lesson.prev) %>
        <% end %>
        <% unless lesson.next.nil? %>
            <%= link_to "Next", course_lesson_path(@course, lesson.next) %>
        <% end %>
    </div>
</div>
<p></p>