<% content_for :title do %>
    Boolearn \|
    <%= @course.title %>
<% end %>

<%= link_to 'Courses', courses_path %>/
<%= link_to course_path(@lesson.course) do %>
    <i class="fa fa-graduation-cap"></i>
    <%=  @lesson.course.title %>
<% end %>/
<%= link_to @lesson.title, course_lesson_path(@course, @lesson) %>
<p></p>
<div class="row">
    <div class="col-lg-8">
        <%= render 'lessons/lesson', lesson: @lesson %>
        <p></p>
        <h2>
            <i class="fa fa-comment"></i>
            comments:
            <%= @comments.count %>
        </h2>
        <div class="row"></div>
        <div class="card">
            <div class="card-header">
                New comment
            </div>
            <div class="card-body">
                <%= render 'lessons/comments/form' %>
            </div>
        </div>
        <div class="p"></div>
        <% @comments.each do |comment|%>
            <%= render 'lesson/comments/comment', comment: comment %>
        <% end %>
    </div>
    <div class="col-lg-4">
        <ul class="list-group">
            <li class="list-group-item">
                <%= link_to course_path(@lesson.course) do %>
                    <i class="fa fa-graduation-cap"></i>
                    <%=  @lesson.course.title %>
                <% end %>
                <div class="float-right">
                    <i class="fa fa-spinner"></i>
                    <%= number_to_percentage(@course.progress(current_user), precision: 0) %>
                </div>
            </li>
        </ul>
        <ul class="group-list lesson-sortable">
            <% @lessons.each do |lesson| %>
                <%= content_tag "div", id: "lesson.#{lesson.id}", data: {model_name: lesson.class.name.underscore, updateUrl: course_lesson_sort_path(@course, lesson)} do %>
                    <% if @lesson.present? && lesson == @lesson %>
                        <li class="list-group-item list-group-item-success">
                            <%= render 'lessons/lesson_preview', lesson: lesson %>
                        </li>
                    <% else %>
                        <li class="list-group-item ">
                            <%= render 'lessons/lesson_preview', lesson: lesson %>
                        </li>
                    <% end %>
                <% end %>
            <% end %>
        </ul>
    </div>
</div>

