<div class="card">
    <div class="card-header">
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        <%= link_to course.title, course_path(course) %>
    </div>
    <% if course.avatar.attached? %>
        <div class="card-img-top">
            <%= image_tag course.avatar, height: "200px", width: "100%" %>
        </div>
    <% end %>
    <div class="card-body">
        <div class="small"><%= simple_format(course.short_description) %></div>
    </div>
    <div class="card-footer">
        <div class="text-center">
            <i class="fa fa-user-graduate" aria-hidden="true"></i>
            Enrolled:
            <%= course.enrollments_count %>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-md-6">
                <i class="fa fa-tasks" aria-hidden="true"></i>
                <%= course.lessons_count %>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    <i class="fa fa-star text-warning" aria-hidden="true"></i>
                    <%= course.average_rating %>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="card-footer">
            <div class="text-center">
                <%= enrollment_button(course) %>
                <%= review_button(course) %>
                <%# <%= number_to_currency(course.price) %>
            </div>
        </div>
        <%# <div class="row">
            <div class="col-md-6">
                <i class="fa fa-language"></i>
                <%= course.language %>
            <%# </div>
            <div class="col-md-6">
                <div class="text-right">
                    <i class="fa fa-signal"></i>
                    <%= course.level %>
                <%# </div> %>
            <%# </div> %>
        <%# </div> %>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-md-6">
                <i class="far fa-clock" aria-hidden="true"></i>
                <%= course.created_at.strftime('%d-%b-%y') %>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    <i class="fa fa-chalkboard-teacher" aria-hidden="true"></i>
                    <%= link_to course.user.username, user_path(course.user) %>
                </div>
            </div>
        </div>
    </div>
    <% if current_user %>
        <% if policy(course).owner? %>
            <div class="card-footer">
                <%= link_to 'Edit', edit_course_path(course), class: "btn btn-warning" %>
                <% if policy(course).destroy? %>
                    <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                <% end %>
                <%= link_to analytics_course_path(course), class: 'btn btn-sm btn-info' do %>
                    <i class="fa fa-chart-bar"></i>
                    Analytics
                <% end %>
            </div>
        <% end %>
        <% if policy(course).admin_or_owner? %>
            <div class="card-footer">
                <% if course.published? %>
                    <div class="badge badge-success">Published</div>
                <% else %>
                    <div class="badge badge-danger">Unpublished</div>
                <% end %>
                <% if course.approved? %>
                    <div class="badge badge-success">Approved</div>
                <% else %>
                    <div class="badge badge-danger">Unapproved</div>
                <% end %>
            </div>
        <% end %> 
        <% if policy(course).approve? %>
            <div class="card-footer">
                <% if course.approved? %>
                    <%= link_to "Unapprove", unapprove_course_path(course), method: :patch, class: "btn btn-sm btn-danger" %>
                <% else %>
                    <%= link_to "Approve", approve_course_path(course), method: :patch, class: "btn btn-success" %>
                <% end %>
            </div>
        <% end %>
    <% end %>
</div>