
<%= simple_form_for (@course) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form">
    <%= f.input :title %>

    <% if @course.avatar.attached? %>
      <%= image_tag @course.avatar %>
      <%= @course.avatar.filename %>
      <%= @course.avatar.content_type %>
      <%= @course.avatar.content_type %>
    <% end %>
    <%#= f.file_field :avatar %>
    <%= f.input :avatar %>
    <%= f.input :short_description %>
    <%#= f.label :description %>
    <%#= f.rich_text_area :description %>
    <%# <small><%= f.error :description, class: "text-danger" %>
    <% f.input :description as: :rich_text_area %>
    <%= f.input :language, collection: ["English", "Yoruba", "French"] %>
    <%= f.input :level, collection: ["Beginner", "intermediate", "Advanced"] %>
    <%= f.input :price %>
    <%= f.input :published %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
