<% content_for :title do %>
    Boolearn |
    <%= @course.title %>
    Analytics
<% end %>

<%= link_to 'courses', courses_path %>|
<%= link_to course_path(@course) do %>
    <i class='fa fa-graduation-cap'></i>
    <%= @course.title %>
<% end %>|

<%= link_to analytics_course_path(@course) do %>
    <i class='fa fa-chart-bar'></i>
    Analytics
<% end %>

<h4 class='text-center'>
    Analytics for #{@course.title}
</h4>