<% content_for :title do %>
    Boolearn |
    <%= @course.title %>
    Analytics
<% end %>

<%= link_to 'courses', courses_path %>|
<%= link_to course_path(@course) do %>
    <i class='fa fa-graduation-cap'></i>
    <%= @course.title %>
<% end %>|

<%= link_to analytics_course_path(@course) do %>
    <i class='fa fa-chart-bar'></i>
    Analytics
<% end %>

<h4 class='text-center'>
    Analytics for #{@course.title}
</h4>

Enrollments per day: Quantity
<%= bar_chart @course.enrollments.group_by_day(:created_at).count %>

Enrollments per day: Revenue
<%= bar_chart @course.enrollments.group_by_day(:created_at).sum(:price) %>

Unique user views(number of views)
<%= bar_chart @course.user_lessons.joins(:lesson).group(:'lessons.title').count %>

Impressions per lesson(views)
<%= bar_chart @course.user_lessons.joins(:lesson).group(:'lessons.title').sum(:impressions) %>